body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: blueviolet;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.nav_logo{
    width: 50%;
    height: auto;

}
.nav_lista{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 0 10px;
    text-transform: uppercase;
    color: white;
}

@media(min-width:768px){
    .nav_logo{
        width: 10%;
        height: auto;
    
    }
    li{
        font-size: 10px;
    }

    /* @media (min-width 1024px) {
    

    } */

}

