body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito", 'fonte varela'
}
.nav{
    background-color: white;
    width: 100vw;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: none;
}

a{
    text-decoration: none;
}
a:link, a:visited{
    color: white;
}

.container{
    width: 80vw;
}

.nav__menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.banner__title{
    font: varela;
    }

h1{
    font-size: 105px;
    align-self: center;
}
h2{
    font-size: 22px;
}
p{
    font-size: 14px;
}

}

@media (min-width: 1280px) {
    .nav{
        background-color: #a0bed0;
    }
    .nav__menu{
        justify-content: center;
    }
    li{
        display: flex;
        padding: 10px;
    }
    .nav__mobile{
        display: none;
    }
}
