body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'nunito' ;
    font-size: 1em;
    text-align: center;
}

/*Menu de navegação*/
.nav__menu{
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav__link{
    display: none;
}

/*Este comando tira o sublinhado debaixo do link*/
a{
    text-decoration: none;
}
/*a:link........define o estilo do link no estado inicial;
a:visited...define o estilo do link visitado;*/
a:link, a:visited{
    color: white;
}

/*Banner/ Cabeçalho*/
.banner{
    background: url(../img/foto-banner.jpg) center no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover; 
    font-size: 'Varela round';
    text-transform: uppercase;
    align-items: center;
    color: #fff;
}

.banner__title{
    margin: 0px;
    font-size: 4em;
    background-size: cover;
    line-height: 70px;
    padding-top: 12%;
}

.banner__subtitle{
    font-size: 1em;  
}

.banner__btn{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #829dad;
    border-color: #829dad;
    color: #fff ;
    border-radius: 05px;
    padding: 5px 10px
}
  
.banner__btn:hover{
    background-color: white;
    color: #829dad;
}

/*Sobre o site*/
.about{
    background-color: #161616;
    color: #fff ;
    padding: 30px 20px;
}

.about__title{
    margin: 0px;
}

/*Destinos*/
#destinos{
    margin: 40px 20px;
}

.destination--siberia__img, .destination--groenlandia__img, .destination--antartida__img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
}

.destination--groenlandia, .destination--antartida{
    background-color: #161616;
    color: #fff;
}

.destination__description{
    padding: 25px 15px;
}

.destination--antartida{
    margin-top: 20px;
}

h3, h4{
    font-size: 1.375em;
}

/*Rodapé*/
.footer{
    background-color: #161616;
    color: #fff;
}

ul{
    list-style: none;
}

.footer__socialmedia{
    text-transform: uppercase;
    margin: 0px;
    padding: 20px 0px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.footer__facebook{
    padding: 0px 20px;
}

@media(min-width: 768px){
    .nav__menu{
        background-color: #a0bed0;
    }
}

@media(min-width: 1024px){
    .nav__menu{
        background-color: #a0bed0;
        font-size: 1.4em;
        justify-content: flex-end;
        height: 100px;
    }

    .nav__mobile{
        display: none;
    }

    .nav__link{
        display: flex;
        padding: 0px 30px;
    }

    .banner{
        height: 500px;
    }

    .banner__title{
        font-size: 5em;
        padding: 110px 0px 40px;
    }

    .banner__subtitle, .about, #destinos{
        font-size: 1.4em;  
    }
    
    .destination--siberia{
        display: flex;
        padding-block-end: 50px;
    }

    .destination--siberia__img{
        max-width: 70%;
    }

    .destination__text{
        margin: auto;
        font-weight: bold;
        text-align: justify;
    }

    .destination--siberia__img, .destination--groenlandia__img, .destination--antartida__img{
        width: 100vw
    }

    .destination--groenlandia, .destination--antartida{
        display: flex;
    }

    .destination__description--antartida, .destination__description--groenlandia{
        width: 50%
    }

    .destination--groenlandia__wrapper-img, .destination--antartida__wrapper-img{
        max-width: 50%;
    }
}

@media(min-width: 1280px){
    .banner{
        height: 500px;
    }

    .banner__title{
        letter-spacing: 20px;
    }

    .nav__menu, .banner__subtitle, .about{
        font-size: 1.6em;  
    }

    .destination{
        font-size: 1.4em;
        margin: 50px 40px;
    }

    .destination__description{
        padding: 0px;
    }

    .destination__description--groenlandia{
        text-align: left;
    }

    .destination--antartida{
        margin-top: 0px;
    }

    .destination__description--antartida{
        text-align: right;
    }

    .footer{
        font-size: 1.3em;
    }
}
  
