
  body {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    max-width: 100%;
    
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

 li {
      list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #87a2b3;
  }
  
  a:link,
  a:visited{
    color:white;
  }
  
  .nav {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }

  .container {
    width: 80vw;
    margin: 0 auto;
  }

  .nav__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 85px;
  }


  .banner {
    background: url("../img/foto-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 85px;
    text-align: center;
    height: 380px;
    background-position: -315px 0;
    align-items: center
    
  }

  .transition {
    transition: all 1s;
  }
  
  .banner__title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    padding-top: 50px;
    letter-spacing: 8px;
  }
  
  .banner__subtitle {
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    
  }
  
  .banner__btn {
    display: inline-block;
    
  }
  
  .btn {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 5px ;
  background-color: #829dad; 
  } 
  
  .about {
    background-color: rgb(49, 48, 48);
    text-align: center;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  
  .about__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .destination--siberia {
    display: block;
    color: black;
    text-align: center;
  }

  .destination--siberia__img {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    
  } 

  .destination--groenlandia__img,
  .destination--antartida__img {
    width: 100%;
    height: 100%;
    display: flex;
  } 

  .destination__description {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 


  .destination__title {
    color:white;
    font-size: 24px;
    margin-bottom: 20px;
  }

  h4 { 
  margin-top: inherit;
  padding: 0 30%;
  }

  p {
    text-align: center;
    margin-top: inherit;
  }

  .destination__description--antartida{
    margin-top: 25px;
  }

  .footer {
    background-color: black;
    margin-top: 80px;
    text-align: center;
    padding: 40px;
    color: white;
  }
  
  .footer__socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
  
  .footer__twitter,
  .footer__facebook,
  .footer__youtube {
    opacity: 0.5;
    margin: 0 10px;
  }

  @media(min-width: 768px) {

    
    a:link,
    a:visited{
      color: black;
      justify-content: center;
    }

    .nav__menu {
      justify-content: center;
      background: 100%;
      display: flex;
      line-height: 50px;
      
    }

    .nav__mobile {
      display: none;
    }

    .li {
      display: flex;
      padding: 500px;
      
    }

    .banner {
    display: flex;
    
    text-align: center;
    padding: 10%;
    display: flex;
    flex-direction: column;
    }
  

    .banner__title {
      font-size: 60px;
    }

    .banner__subtitle {
      font-size: 18px;
    }

    .destination__border {
      display: none;
    }

    .destination--siberia {
      display: block;
      text-align: center;
      flex-direction: column;
    }

    .destination--siberia__img {
      max-width: 100%;
    }

    .destination--groenlandia,
    .destination--antartida {
      display: block;
      height: auto;
      flex-direction: column;
    }

    .destination--groenlandia {
      margin-bottom: 40px;
    }

    .destination--groenlandia__img,
    .destination--antartida__img {
      max-height: 100%;
    }

    .destination__description {
      margin: 20px;
      flex-direction: column;
      text-align: center;
    }

    .destination__title {
      margin-top: 0;
    }

    .destination_paragraph--groenlandia {
      max-width: 100%;
    }

    .destination--groenlandia__wrapper-img,
    .destination--antartida__wrapper-img {
      width: 100%;
    }

    .destination__description--antartida {
      text-align: center;
    }



  }
    
  @media(min-width: 1024px) {
  
  .banner__title {
    font-size: 80px;
  }
  }


  @media(min-width: 1280px) {
  }