.red {
  background-color: red;
  width: 500px;
  height: 100px;
}

h1 {
  color: white;
  font-size: 50px;
}

.blue {
  background-color: blue;
  width: 550px;
  height: 300px;
}

.black {
  background-color: black;
  width: 1200px;
  height: 250px;
}

@media (max-width: 768px) and (min-width: 400px) {
  .red {
    background-color: green;
    widows: 350px;
    height: auto;
  }
  h1 {
    font-size: 30px;
    color: greenyellow;
  }
  .blue {
    width: 250px;
  }
  .black {
    display: none;
  }
}

@media (max-width: 400px) {
  .red {
    width: 200px;
  }
  h1 {
    color: pink;
  }
}
