
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  font-family: nunito ;
  text-align: center;
}

.nav{
  color: #161616;
  background-color: #a0bed0;
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vw;
}

.nav__menu{
  text-transform: uppercase;
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.nav__link{
  align-items: center;
  padding-right: 100px;
}


/*BANNER TRANSITION*/
main{
  font-family: varela round;
  margin: 0px       
}

.banner {
  background: url(../img/foto-banner.jpg) center no-repeat;
  width: 100%;
  height: 560px;
  display: block;
  background-size: cover; 
  align-items: center;
  color: #fff  
}

.banner__title{
  font-size: 6.5em;
  text-transform: uppercase;
  margin: 0px;
  padding: 50px 0px 0px
}

.banner__title{
  letter-spacing: 20px
}

.banner__subtitle{
  font-size: 1.57em;  
  margin: 0px;
  padding-block-end: 40px
}

.about{
  font-size: 2vw;
}

.banner__btn{
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #829dad;
  border-color: #829dad;
  color: white;
  border-radius: 05px;
  padding: 10px 15px
}

.banner__btn:hover{
  background-color: white;
  color: #829dad;
}

li{
  align-items: flex-end;
}
/*ABOUT*/
.about{
  background-color: #161616;
  color: #fff ;
  font-size: 1.5vw;
}

.about__title{  
  margin: 0px;
  padding: 50px 50px 0px;
}

p{
  padding: 0px 20px 20px;
}

/*DESTINOS*/
#destinos{
  margin: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0px 80px
}

.destination__title{
  PADDING: 0PX 20PX
}

/*SIBERIA*/
.destination{
  display: flex;
  margin: 0;
}

.destination--siberia__img{
  width: 100%;
  max-width: 70%;
  height: 100%;
  display: block;
}

.destination__text{
  max-width: 30%;
  margin: auto;
}

/*GROELANDIA E ANTARTICA*/
.destination--groenlandia{
  background-color: #161616;
  display: flex;
  margin-top: 50px;
}

.destination--groenlandia__wrapper-img{
  max-width: 50%;
}

.destination--groenlandia__img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}

.destination__description{
  background-color: #161616;
  color: #fff;
  max-width: 50%;
  text-align: left;
  margin: auto
}

.destination--antartida{
  background-color: #161616;
  display: flex;
}

.destination__description--antartida{
  max-width: 50%;
  text-align: right;
  margin: auto
}

.destination--antartida__img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}

.footer{
  background-color: #161616;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

a{
  justify-content: center;
  color: #fff;
}

.footer__socialmedia{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px;
}

.footer__facebook{
  padding: 20px;
}


@media (max-width: 768px) {
  /*DEIXAR O HAMBURGUINHO A DIREITA (NO CANTO SUPERIOR DIREITO)*/
  .nav{
    justify-content: flex-end;
  }
  
  /*REDUZ O TAMANHO DA FAIXA DE NAVEGAÇÃO*/
  .nav{
    height: 50px;
  }
  
  /*NÃO MOSTRAR OS LINKS DO MENU*/
  .nav__link{
    display: none;
  }

   /*TAMANHO DA LETRA DO TÍTULO*/
  .banner__title{
    font-size: 5.5em;
  }

  /*ESPAÇAMENTO ENTRE AS LETRAS*/
  .banner__title{
    letter-spacing: 0px
  }

  /*TAMANHO DA LETRA DO TEXTO SOBRE*/
  .about{
    Font-size: 2VW;
  }

  /*MANTER OS DESTINOS UM EMBAIXO DO OUTRO*/
  #destinos{
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
  }

  /*MANTER O TEXTO EMBAIXO DA FOTO SIBERIA*/
  .destination--siberia{
    flex-direction: column;
  }

  /*UTILIZAR 100% DO ESPAÇO DISPONÍVEL COM A FOTO*/
  .destination--siberia__img{
    max-width: 100%;
  }

  /*UTILIZAR 80% DO ESPAÇO DISPONÍVEL COM O TEXTO*/
  .destination__text{
    max-width: 80%;
  }

  /*UTILIZAR 100% DO ESPAÇO DISPONÍVEL COM A FOTO*/
  .destination--groenlandia__wrapper-img{
    max-width: 100%;
  }

   /*UTILIZAR 80% DO ESPAÇO DISPONÍVEL COM O TEXTO*/
  .destination__description{
    max-width: 80%;
    text-align: center;
  }

  /*FAZ O TEXTO FICAR EMBAIXO DA IMAGEM*/
  .destination--groenlandia{
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }
  
  /*FAZ O TEXTO FICAR EMBAIXO DA IMAGEM E DÁ O ESPAÇO ENTRE ESTA IMAGEM E A DE CIMA*/
  .destination--antartida{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*NÃO MOSTRAR O MENU HAMBURGUER*/
  .nav__mobile{
    display: none;
  }

  /*MANTER O TEXTO EMBAIXO DA FOTO SIBERIA*/
  .destination--siberia{
    flex-direction: column;
  }

  /*UTILIZAR 100% DO ESPAÇO DISPONÍVEL COM A FOTO*/
  .destination--siberia__img{
    max-width: 100%;
  }

  /*UTILIZAR 80% DO ESPAÇO DISPONÍVEL COM O TEXTO*/
  .destination__text{
    max-width: 80%;
  }

  /*UTILIZAR 70% DO ESPAÇO HORIZONTAL DISPONÍVEL COM A FOTO*/
  .destination--siberia__img{
    max-width: 100%;
  }

  /*FAZ O TEXTO FICAR EMBAIXO DA IMAGEM E DÁ O ESPAÇO ENTRE ESTA IMAGEM E A DE CIMA*/
  .destination--groenlandia{
    margin-top: 50px;
  }

  /*DEIXA O TEXTO JUSTIFICADO*/
  .destination__description--groenlandia{
    text-align: justify;
  }

  /*FAZ O TEXTO FICAR EMBAIXO DA IMAGEM E DÁ O ESPAÇO ENTRE ESTA IMAGEM E A DE CIMA*/
  .destination--antartida{
    margin-top: 50px;
  }

  /*DEIXA O TEXTO JUSTIFICADO*/
  .destination__description--antartida{
    text-align: justify;
  }
}

